nav {
background-color: blue;
padding: 15px;
}
nav h1 {
    color: antiquewhite;
    margin-bottom: 10px;
}
#nav-ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}
.nav-li a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
}
.nav-li a:hover {
    text-decoration: underline;
}